@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fbfbfe;
    --foreground: #1a1a1a;
    --card: #fbfbfe;
    --card-foreground: #1a1a1a;
    --popover: #ffffff;
    --popover-foreground: #1a1a1a;
    --primary: #0400e6;
    --primary-foreground: #ffffff;
    --secondary: #eaedfb;
    --secondary-foreground: #000000;
    --muted: #fbfbfe;
    --muted-foreground: #4e4e56;
    --accent: #cdebfe;
    --accent-foreground: #1d2981;
    --destructive: #ff0000;
    --destructive-foreground: #ffffff;
    --border: #d1e7f5;
    --input: #d1dff5;
    --ring: #2c659b;
    --radius: 0.375rem;

    --chart-1: #3e1cba;
    --chart-2: #2e2c9b;
    --chart-3: #384db2;
    --chart-4: #1d09b3;
    --chart-5: #1319d8;

    --sidebar: #fbfbfe;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --sidebar-background: 0 0% 98%;
  }

  .dark {
    --background: #1c1917;
    --foreground: #f5f5f4;
    --card: #252429;
    --card-foreground: #f5f5f4;
    --popover: #292524;
    --popover-foreground: #ffffff;
    --primary: #0400e6;
    --primary-foreground: #f5f5fa;
    --secondary: #eaedfb;
    --secondary-foreground: #000000;
    --muted: #1b1a1f;
    --muted-foreground: #d1d1d6;
    --accent: #070038;
    --accent-foreground: #f8f9ff;
    --destructive: #ff0000;
    --destructive-foreground: #ffffff;
    --border: #44403c;
    --input: #44403c;
    --ring: #2e1ac3;

    --chart-1: #8f72f8;
    --chart-2: #4542f0;
    --chart-3: #2c38dd;
    --chart-4: #23a8fb;
    --chart-5: #0af1f5;

    --sidebar: #1c1917;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --sidebar-background: 240 5.9% 10%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}